<div class="relative border-t bg-[#0d1224] border-[#353951] text-white">
    <div class="mx-auto px-6 sm:px-12 lg:max-w-[70rem] xl:max-w-[76rem] 2xl:max-w-[92rem] py-6 lg:py-10">
        <div class="flex justify-center -z-40">
            <div class="absolute top-0 h-[1px] w-1/2 bg-gradient-to-r from-transparent via-violet-500 to-transparent">
            </div>
        </div>
        <div class="flex flex-col md:flex-row items-center justify-between">
            <p class="text-sm">
                © 2025 Portfolio by
                <a href="https://www.linkedin.com/in/prajwal-v-s-976744149" target="_blank" class="text-[#16f2b3]">
                    Prajwal V S
                </a>
            </p>
            <div class="flex items-center gap-5">
                <a href="https://github.com/prajwal1123" target="_blank"
                    class="flex items-center gap-2 uppercase hover:text-[#16f2b3]">
                    <fa-icon [icon]="starIcon"></fa-icon>
                    <span>GitHub</span>
                </a>
            </div>
        </div>
    </div>
</div>
